In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Shipment_v4.csv')
print(df.columns)
print(df.shape)
print(df['dateCreated'].dtypes)

Index(['shipmentIdentifier', 'shipmentType',
       'shipFromLocation.locationIdentifier',
       'shipToLocation.locationIdentifier', 'vendor.organizationIdentifier',
       'buyer.organizationIdentifier', 'carrier.organizationIdentifier',
       'status', 'dateCreated', 'requestedTimeOfArrival',
       'committedTimeOfArrival', 'actualShipDate', 'estimatedTimeOfArrival',
       'revisedEstimatedTimeOfArrival', 'predictedTimeOfArrival',
       'actualTimeOfArrival', 'lineCount', 'weight', 'weightUnits',
       'currentLocationCoordinates', 'currentRegion', 'transportMode',
       'houseAirwayBill', 'parcelTrackingNumber', 'airwayMasterNumber',
       'billOfLadingNumber', 'proNumber', 'manifest', 'exclude', 'sourceLink'],
      dtype='str')
(176, 30)
str

In [ ]:
df = pd.read_csv('Shipment_v4.csv', index_col='shipmentIdentifier')
print(df.index)

In [ ]:
df = pd.read_csv('Shipment_v4.csv', parse_dates=['dateCreated'])
print(df['dateCreated'].dtypes)

In [ ]:
#df = pd.read_csv('Shipment_v4.csv', usecols=['shipmentIdentifier', 'origin', 'destination'])
print(df.columns)

In [4]:
df_dos = pd.read_csv('Shipment_v4.csv', nrows=len(df)//2)
print(df_dos.shape)
df_dos

(88, 30)

,shipmentIdentifier,shipmentType,shipFromLocation.locationIdentifier,shipToLocation.locationIdentifier,vendor.organizationIdentifier,buyer.organizationIdentifier,carrier.organizationIdentifier,status,dateCreated,requestedTimeOfArrival,...,currentRegion,transportMode,houseAirwayBill,parcelTrackingNumber,airwayMasterNumber,billOfLadingNumber,proNumber,manifest,exclude,sourceLink
0,3004555,OUTBOUND,LT-1,NYDOT - New Rochelle,LightTree,NYDOT,TranEx,NaN,2021-07-09T00:00:00,2021-07-19T00:00:00,...,US-East,Truck,NaN,1Z0264920233,NaN,NaN,NaN,NaN,NaN,http://lighttree.com/3004555
1,3004554,OUTBOUND,LT-1,NYDOT - New Rochelle,LightTree,NYDOT,TranEx,NaN,2021-07-09T00:00:00,2021-07-19T00:00:00,...,US-East,Truck,NaN,1Z61566406245,NaN,NaN,NaN,NaN,NaN,http://lighttree.com/3004554
2,3004553,OUTBOUND,LT-1,NYDOT - New Rochelle,LightTree,NYDOT,TranEx,NaN,2021-07-01T00:00:00,2021-07-11T00:00:00,...,US-East,Truck,NaN,1Z66916635689,NaN,NaN,NaN,NaN,NaN,http://lighttree.com/3004553
3,3004552,OUTBOUND,LT-1,NYDOT - New Rochelle,LightTree,NYDOT,TranEx,NaN,2021-07-01T00:00:00,2021-07-11T00:00:00,...,US-East,Truck,NaN,1Z84855380152,NaN,NaN,NaN,NaN,NaN,http://lighttree.com/3004552
4,3004549,OUTBOUND,LT-1,CALTRAN - San Diego,LightTree,CALTRAN,RPS,NaN,2021-07-01T00:00:00,2021-07-11T00:00:00,...,US-West,Truck,NaN,1Z40905045952,NaN,NaN,NaN,NaN,NaN,http://lighttree.com/3004549
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,JN3VI0,INBOUND,Interalloy - Bozeman,LT-1,Interalloy,LightTree,UXS,NaN,2021-07-03T00:00:00,2021-07-10T00:00:00,...,NaN,Common Carrier,NaN,1Z84855380152,NaN,NaN,NaN,NaN,NaN,http://lighttree.com/JN3VI0
84,OF5NOJ,INBOUND,Hardy - Salina,LT-1,Hardy,LightTree,TransOceanic,NaN,2021-07-03T00:00:00,2021-07-10T00:00:00,...,NaN,Common Carrier,NaN,1Z40905045952,NaN,NaN,NaN,NaN,NaN,http://lighttree.com/OF5NOJ
85,TEYYNK,INBOUND,Interalloy - Bozeman,LT-1,Interalloy,LightTree,UXS,NaN,2021-07-03T00:00:00,2021-07-10T00:00:00,...,NaN,Common Carrier,NaN,1Z26727337844,NaN,NaN,NaN,NaN,NaN,http://lighttree.com/TEYYNK
86,22Z873,INBOUND,Flexilux - Worcester,LT-1,Flexilux,LightTree,UXS,NaN,2021-07-03T00:00:00,2021-07-10T00:00:00,...,NaN,Common Carrier,NaN,1Z97228647840,NaN,NaN,NaN,NaN,NaN,http://lighttree.com/22Z873
87,Y9JOYM,INBOUND,McGrey - Mt Sterling,LT-1,McGrey,LightTree,AFX,NaN,2021-07-03T00:00:00,2021-07-10T00:00:00,...,NaN,Common Carrier,NaN,1Z40905045952,NaN,NaN,NaN,NaN,NaN,http://lighttree.com/Y9JOYM

In [ ]:
print(df.head()) # Primeras 5
print(df.tail()) # Últimas 5
print(df.sample(5)) # 5 aleatorias

In [ ]:
print(df.info()) # Información general del DataFrame

In [ ]:
print(df.describe()) # Estadísticas descriptivas de columnas numéricas

In [ ]:
print(f"value_counts: \n{df['shipmentType'].value_counts()}") # Conteo de valores únicos en la columna 'origin'
print(f"nunique: {df['shipmentType'].nunique()}") # Número de valores únicos en la columna 'origin'

In [ ]:
print(df.loc[12:15, ['shipmentIdentifier', 'parcelTrackingNumber']])
print(df.at[12, 'shipFromLocation.locationIdentifier'])

   shipmentIdentifier parcelTrackingNumber
12             EV9PPA        1Z13792687652
13             O5A7NN        1Z89561993624
14             MR4PUF        1Z79609234312
15             HKD3U5        1Z79679439255
SilverOptics - Dover

In [ ]:
# Selección por posición numérica
print(df.iloc[12]) # Fila 12

shipmentIdentifier                                          EV9PPA
shipmentType                                               INBOUND
shipFromLocation.locationIdentifier           SilverOptics - Dover
shipToLocation.locationIdentifier                             LT-1
vendor.organizationIdentifier                         SilverOptics
buyer.organizationIdentifier                             LightTree
carrier.organizationIdentifier                                 UXS
status                                                         NaN
dateCreated                                    2021-07-19T00:00:00
requestedTimeOfArrival                         2021-07-26T00:00:00
committedTimeOfArrival                         2021-07-26T00:00:00
actualShipDate                                 2021-07-22T00:00:00
estimatedTimeOfArrival                         2021-07-26T00:00:00
revisedEstimatedTimeOfArrival                                  NaN
predictedTimeOfArrival                                         NaN
actualTimeOfArrival                                            NaN
lineCount                                                      NaN
weight                                                         NaN
weightUnits                                                    NaN
currentLocationCoordinates                   34.460245, -84.922803
currentRegion                                              US-East
transportMode                                       Common Carrier
houseAirwayBill                                                NaN
parcelTrackingNumber                                 1Z13792687652
airwayMasterNumber                                             NaN
billOfLadingNumber                                             NaN
proNumber                                                      NaN
manifest                                                       NaN
exclude                                                        NaN
sourceLink                             http://lighttree.com/EV9PPA
Name: 12, dtype: object

In [ ]:
# Acceso rápido a un único valor por posición numérica
df.iat[12, 1] # Valor en fila 12, columna 1

'INBOUND'

In [ ]:
# Obtener subconjunto como DataFrame
subset = df[['shipmentIdentifier', 'shipFromLocation.locationIdentifier', 'shipToLocation.locationIdentifier']]
type(subset)

pandas.DataFrame

In [ ]:
# Una columna pero como DataFrame
df[['shipmentIdentifier', 'shipFromLocation.locationIdentifier', 'shipToLocation.locationIdentifier']]

,shipmentIdentifier,shipFromLocation.locationIdentifier,shipToLocation.locationIdentifier
0,3004555,LT-1,NYDOT - New Rochelle
1,3004554,LT-1,NYDOT - New Rochelle
2,3004553,LT-1,NYDOT - New Rochelle
3,3004552,LT-1,NYDOT - New Rochelle
4,3004549,LT-1,CALTRAN - San Diego
...,...,...,...
171,ZQV8Q9,Flexilux - Worcester,LT-2
172,2GB5GW,McGrey - Mt Sterling,LT-2
173,E9WDEX,Brewers - Phoenix,LT-2
174,YH8EKK,Total Source - Waukesha,LT-2
175,YLRWC5,F & M - Columbus,LT-2

In [29]:
pd.pivot_table(df, index='shipmentIdentifier', values='parcelTrackingNumber', aggfunc='sum')

                   parcelTrackingNumber
shipmentIdentifier
00NYVK                    1Z89561993624
0FBQ1N                    1Z66916635689
0I262B                    1Z61566406245
0JBLJR                    1Z89561993624
0KTK5E                    1Z79609234312
...                                 ...
ZQV8Q9                    1Z40905045952
ZT4OZ6                    1Z40905045952
ZY8L3E                    1Z26727337844
ZYY47F                    1Z97228647840
ZZXTYM                    1Z66916635689

[176 rows x 1 columns]